.form {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40svw;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px #00000026;
}

.title {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}

.label {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 8px;
  display: block;
  font-weight: 500;
}

.input {
  border: none;
  padding: 12px 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.input:focus {
  box-shadow: 0 0 15px #808080;
  transition: box-shadow 0.3s linear;
}

.submitButton {
  width: 100%;
  padding: 12px 0;
  background-color: #808080;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 15px;
}

.submitButton:hover {
  background-color: #808080;
}
