CTP_PROJECT_KEY=getting-started-project
CTP_CLIENT_SECRET=our-api-client-secret
CTP_CLIENT_ID=our-api-client-id
CTP_AUTH_URL=https://auth.europe-west1.gcp.commercetools.com
CTP_API_URL=https://api.europe-west1.gcp.commercetools.com
CTP_SCOPES=manage_project:getting-started-project