.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  flex: 1;
  padding: 2rem;
}

.user-profile__tabs * {
  color: #fff;
}

.section {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.address-card {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #ddd;
  position: relative;

  .billing {
    color: blue;
  }

  .shipping {
    color: green;
  }
}

.new-address-edit {
  text-align: center;
  color: red;
}

.edit-field input {
  color: #fff;
}

.edit-field label {
  color: #737aff;
}
